In [8]:
# Bối cảnh: Bạn là chủ quán cà phê "Code & Coffee". Cuối ngày, bạn có số liệu bán hàng của 5 món đồ uống chủ đạo. Bạn cần tính toán xem món nào đang "gánh team" về mặt lợi nhuận, món nào bán chạy nhưng lãi thấp.

# Khởi tạo: Tạo DataFrame df_coffee từ dictionary trên.
# Doanh thu (Revenue): Tạo cột Doanh_Thu = Gia_Ban * So_Luong_Ban.
# Lợi nhuận (Profit):
# Tính lãi trên mỗi ly: Lai_1_Ly = Gia_Ban - Gia_Von.
# Tính tổng lợi nhuận: Tong_Lai = Lai_1_Ly * So_Luong_Ban.
# Báo cáo (Inspection):
# Dùng .info() để kiểm tra xem có cột nào bị lỗi không.
# (Nâng cao): In ra món có Tong_Lai cao nhất.

import pandas as pd
import io

menu_data = {
    'Ten_Mon': ['Cafe Den', 'Cafe Sua', 'Bac Xiu', 'Tra Dao', 'Sinh To Bo'],
    'Gia_Von': [10, 12, 15, 8, 20],   # Giá vốn (ngàn đồng)
    'Gia_Ban': [20, 25, 35, 30, 50],  # Giá bán (ngàn đồng)
    'So_Luong_Ban': [50, 80, 40, 60, 20] # Ly
}

df = pd.DataFrame(menu_data)

print("==== Danh sách món ====")
display(df)

print("==== Doanh thu ====")
df["Doanh_Thu"] = df["Gia_Ban"] * df["So_Luong_Ban"]

df["Lai_1_Ly"] = df["Gia_Ban"] - df["Gia_Von"]
df["Tong_Lai"] = df["Lai_1_Ly"] * df["So_Luong_Ban"]
display(df)

print("\n=========== Check =============")
df.info()

print("\n=========== BEST SELL =============")
top_profit = df.sort_values("Tong_Lai", ascending=False).iloc[0]
print(f"\n TOP: {top_profit["Ten_Mon"]} (Lãi: {top_profit["Tong_Lai"]})")

==== Danh sách món ====

      Ten_Mon  Gia_Von  Gia_Ban  So_Luong_Ban
0    Cafe Den       10       20            50
1    Cafe Sua       12       25            80
2     Bac Xiu       15       35            40
3     Tra Dao        8       30            60
4  Sinh To Bo       20       50            20

==== Doanh thu ====

      Ten_Mon  Gia_Von  Gia_Ban  So_Luong_Ban  Doanh_Thu  Lai_1_Ly  Tong_Lai
0    Cafe Den       10       20            50       1000        10       500
1    Cafe Sua       12       25            80       2000        13      1040
2     Bac Xiu       15       35            40       1400        20       800
3     Tra Dao        8       30            60       1800        22      1320
4  Sinh To Bo       20       50            20       1000        30       600

=========== Check =============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ten_Mon       5 non-null      object
 1   Gia_Von       5 non-null      int64
 2   Gia_Ban       5 non-null      int64
 3   So_Luong_Ban  5 non-null      int64
 4   Doanh_Thu     5 non-null      int64
 5   Lai_1_Ly      5 non-null      int64
 6   Tong_Lai      5 non-null      int64
dtypes: int64(6), object(1)
memory usage: 412.0+ bytes

=========== BEST SELL =============

 TOP: Tra Dao (Lãi: 1320)