In [6]:
import pandas as pd
import numpy as np

# 1. Tạo dữ liệu giả (Thay vì dùng struct trong C hay Class trong Python App)
data = {
    'Ten_Hoc_Vien': ['An', 'Binh', 'Cuong', 'Dung', 'Em', 'Ha'],
    'Tuoi': [12, 13, 12, 14, 13, 12],
    'Diem_Python': [8.5, 9.0, np.nan, 7.5, 6.0, 9.5],  # np.nan là giả lập dữ liệu bị thiếu (ví dụ: vắng thi)
    'Diem_C': [7.0, 8.0, 6.5, np.nan, 9.0, 8.5],
    'Diem_D': [8.2, 9.5, 7.1, np.nan, 9.0, 8.5]
}

# 2. Chuyển dictionary thành DataFrame (Bảng dữ liệu)
# Đây là đối tượng quan trọng nhất bạn sẽ làm việc trong 100 ngày tới
df = pd.to_series = pd.DataFrame(data)

# 3. Xem dữ liệu
print("Dữ liệu thô:")
display(df) # Trong Jupyter, dùng display() sẽ đẹp hơn print()

# 4. Thử tính toán nhanh (Data Analysis cơ bản)
print("\n--- Thống kê nhanh ---")
print(f"Điểm Python trung bình: {df['Diem_Python'].mean()}")
print(f"Học viên lớn tuổi nhất: {df['Tuoi'].max()}")

Dữ liệu thô:

  Ten_Hoc_Vien  Tuoi  Diem_Python  Diem_C  Diem_D
0           An    12          8.5     7.0     8.2
1         Binh    13          9.0     8.0     9.5
2        Cuong    12          NaN     6.5     7.1
3         Dung    14          7.5     NaN     NaN
4           Em    13          6.0     9.0     9.0
5           Ha    12          9.5     8.5     8.5

--- Thống kê nhanh ---
Điểm Python trung bình: 8.1
Học viên lớn tuổi nhất: 14