In [8]:
import pandas as pd
import io
# CÁCH 1: Tạo từ Dictionary (Thường dùng để test nhanh)
data_dict = {
    'Ten': ['An', 'Bình', 'Cường', 'Dũng', 'Em'],
    'Bo_Phan': ['Sale', 'IT', 'Sale', 'HR', 'IT'],
    'Luong': [1500, 2000, 1600, 1200, 1800], # Đơn vị: $
    'Tham_Nien': [2, 5, 3, 1, 4] # Đơn vị: Năm
}

df = pd.DataFrame(data_dict)

print("--- DataFrame từ Dictionary ---")
display(df)

# CÁCH 2: Đọc từ file CSV (Mô phỏng)
# Thực tế bạn sẽ dùng: df = pd.read_csv('duong_dan_file.csv')
csv_content = """ID,Ten,Diem
SV01,Lan,8.5
SV02,Mai,9.0
SV03,Hung,7.5"""

df_csv = pd.read_csv(io.StringIO(csv_content))
print("\n--- DataFrame từ CSV (Mô phỏng) ---")
display(df_csv)

--- DataFrame từ Dictionary ---

     Ten Bo_Phan  Luong  Tham_Nien
0     An    Sale   1500          2
1   Bình      IT   2000          5
2  Cường    Sale   1600          3
3   Dũng      HR   1200          1
4     Em      IT   1800          4

--- DataFrame từ CSV (Mô phỏng) ---

     ID   Ten  Diem
0  SV01   Lan   8.5
1  SV02   Mai   9.0
2  SV03  Hung   7.5

In [9]:
print("\n--- KHÁM DỮ LIỆU (SENIOR CHECKLIST) ---")

# 1. Kích thước bao nhiêu? (Dòng, Cột)
print(f"1. Shape (Kích thước): {df.shape}") 
# -> Nếu ra (0, 4) là lỗi load file (không có dòng nào).

# 2. Xem sơ bộ 5 dòng đầu xem dữ liệu trông thế nào
print("\n2. Head (5 dòng đầu):")
display(df.head())

# 3. Soi kiểu dữ liệu và bộ nhớ (Quan trọng nhất)
print("\n3. Info (Thông tin chi tiết):")
df.info()
# -> Nhìn vào đây để biết cột nào bị Null (Missing), cột nào sai kiểu dữ liệu.

--- KHÁM DỮ LIỆU (SENIOR CHECKLIST) ---
1. Shape (Kích thước): (5, 4)

2. Head (5 dòng đầu):

     Ten Bo_Phan  Luong  Tham_Nien
0     An    Sale   1500          2
1   Bình      IT   2000          5
2  Cường    Sale   1600          3
3   Dũng      HR   1200          1
4     Em      IT   1800          4

3. Info (Thông tin chi tiết):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ten        5 non-null      object
 1   Bo_Phan    5 non-null      object
 2   Luong      5 non-null      int64
 3   Tham_Nien  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [10]:
total = df["Luong"].mean()
print(total)

1620.0

In [ ]:
# Đề bài: Sếp yêu cầu tính "Lương Thưởng Tết".

# Công thức: Lương * Hệ số thâm niên.

# Hệ số: Mỗi năm thâm niên được thưởng thêm 10% lương (tức là 0.1 * Tham_Nien).

# Gợi ý: Hãy tạo cột mới df['Thuong'] bằng cách nhân các cột cũ.

print("=== Lương Thưởng Tết ====")

# 1. Tính hệ số thưởng (Ví dụ 2 năm -> 0.2)
he_so = df["Tham_Nien"] * 0.1

# 2. Tính tiền thưởng
df["Thuong_Tet"] = df["Luong"] * he_so

df["Tong_Thu_Nhap"] = df["Luong"] + df["Thuong_Tet"]
display(df)

=== Lương Thưởng Tết ====
0    0.2
1    0.5
2    0.3
3    0.1
4    0.4
Name: Tham_Nien, dtype: float64