In [9]:
import pandas as pd

data = {
    'Nhom_Mon': ['Ca Phe', 'Ca Phe', 'Ca Phe', 'Tra', 'Sinh To', 'Tra'],
    'Ten_Mon': ['Cafe Den', 'Cafe Sua', 'Bac Xiu', 'Tra Dao', 'Sinh To Bo', 'Tra Vai'],
    'So_Luong': [50, 80, 40, 60, 20, 50],
    'Tong_Lai': [500, 1040, 800, 1320, 600, 1000]
}

df = pd.DataFrame(data)

print("--- Dữ liệu gốc ---")
display(df)

--- Dữ liệu gốc ---

  Nhom_Mon     Ten_Mon  So_Luong  Tong_Lai
0   Ca Phe    Cafe Den        50       500
1   Ca Phe    Cafe Sua        80      1040
2   Ca Phe     Bac Xiu        40       800
3      Tra     Tra Dao        60      1320
4  Sinh To  Sinh To Bo        20       600
5      Tra     Tra Vai        50      1000

In [10]:
print("--- 1. GROUP BY Cơ bản ---")
# Cú pháp: df.groupby('Cột_để_chia_nhóm')['Cột_để_tính_toán'].hàm_tính()
loi_nhuan_theo_nhom = df.groupby('Nhom_Mon')['Tong_Lai'].sum()

display(loi_nhuan_theo_nhom)

--- 1. GROUP BY Cơ bản ---

Nhom_Mon
Ca Phe     2340
Sinh To     600
Tra        2320
Name: Tong_Lai, dtype: int64

In [11]:

print("--- 2. RESET_INDEX()  ---")
# Để kết quả biến thành 1 DataFrame chuẩn đẹp (dễ vẽ biểu đồ sau này), ta thêm .reset_index()
bao_cao_chuan = df.groupby('Nhom_Mon')['Tong_Lai'].sum().reset_index()
display(bao_cao_chuan)

--- 2. RESET_INDEX()  ---

  Nhom_Mon  Tong_Lai
0   Ca Phe      2340
1  Sinh To       600
2      Tra      2320

In [ ]:
# Đề bài: Sếp thấy nhóm Trà và Cà Phê bán rất chạy. Sếp muốn biết: Trung bình mỗi món trong từng nhóm bán được bao nhiêu ly? (Để xem có nên thêm món mới vào nhóm đó không).

tb_so_ly = df.groupby('Nhom_Mon')['So_Luong'].mean().reset_index()
display(tb_so_ly)
display(tb_so_ly)

  Nhom_Mon   So_Luong
0   Ca Phe  56.666667
1  Sinh To  20.000000
2      Tra  55.000000