Hệ thống LMS đang chạy 2 khóa học chính là Python và C++. Sếp Giám đốc Đào tạo (Academic Director) yêu cầu bạn xuất một báo cáo đánh giá chất lượng các lớp học.

Sếp hỏi: "Ở từng Khóa học, và cụ thể là từng Lớp, hiện có bao nhiêu học viên, điểm trung bình là bao nhiêu, và điểm cao nhất lớp là mấy để anh đi trao thưởng?"

In [1]:
import pandas as pd

data_lms = {
    'Khoa_Hoc': ['Python', 'Python', 'Python', 'Python', 'C++', 'C++', 'C++'],
    'Lop_Hoc': ['PY-Sáng', 'PY-Sáng', 'PY-Tối', 'PY-Tối', 'CPP-01', 'CPP-01', 'CPP-01'],
    'Hoc_Vien': ['An', 'Bình', 'Cường', 'Dũng', 'Em', 'Hà', 'Giang'],
    'Diem_Thi': [8.5, 9.0, 4.0, 7.5, 8.0, 5.5, 9.5],
    'So_Buoi_Vang': [0, 1, 4, 0, 2, 3, 0]
}
df_lms = pd.DataFrame(data_lms)

print("--- Dữ liệu thô hệ thống LMS ---")
display(df_lms)

--- Dữ liệu thô hệ thống LMS ---

  Khoa_Hoc  Lop_Hoc Hoc_Vien  Diem_Thi  So_Buoi_Vang
0   Python  PY-Sáng       An       8.5             0
1   Python  PY-Sáng     Bình       9.0             1
2   Python   PY-Tối    Cường       4.0             4
3   Python   PY-Tối     Dũng       7.5             0
4      C++   CPP-01       Em       8.0             2
5      C++   CPP-01       Hà       5.5             3
6      C++   CPP-01    Giang       9.5             0

In [ ]:
bao_cao_lms = df_lms.groupby(['Khoa_Hoc','Lop_Hoc']).agg(
    Si_So = ('Hoc_Vien','count'),
    Diem_Trung_Binh = ('Diem_Thi', 'mean'),
    Diem_Cao_Nhat = ('Diem_Thi', 'max')
).reset_index()
display(bao_cao_lms)

  Khoa_Hoc  Lop_Hoc Tong_So_HV Diem_Thi_Trung_Binh
                         count                mean  max
0      C++   CPP-01          3            7.666667  9.5
1   Python  PY-Sáng          2            8.750000  9.0
2   Python   PY-Tối          2            5.750000  7.5