In [9]:
import pandas as pd

data = {
    'Chi_Nhanh': ['Q1', 'Q1', 'Q3', 'Q3', 'Q1', 'Q3'],
    'Nhom_Mon': ['Ca Phe', 'Tra', 'Ca Phe', 'Tra', 'Sinh To', 'Sinh To'],
    'So_Luong': [120, 80, 90, 110, 40, 30],
    'Tong_Lai': [2400, 1600, 1800, 2200, 1200, 900]
}

df = pd.DataFrame(data)

print("--- 1. GROUPBY ĐA CẤP (MULTI-LEVEL) ---")

# Chú ý: Phải dùng List ['Chi_Nhanh', 'Nhom_Mon']
df_multi = df.groupby(['Chi_Nhanh','Nhom_Mon'])['Tong_Lai'].sum().reset_index()

display(df_multi)

--- 1. GROUPBY ĐA CẤP (MULTI-LEVEL) ---

  Chi_Nhanh Nhom_Mon  Tong_Lai
0        Q1   Ca Phe      2400
1        Q1  Sinh To      1200
2        Q1      Tra      1600
3        Q3   Ca Phe      1800
4        Q3  Sinh To       900
5        Q3      Tra      2200

In [17]:
print("\n--- 2. SỨC MẠNH CỦA HÀM .AGG() ---")
# Cú pháp: .agg({ 'Tên_Cột_1': 'hàm_1', 'Tên_Cột_2': 'hàm_2' })
bao_cao_tong_hop = df.groupby('Chi_Nhanh').agg({
    'Tong_Lai': 'sum',
    'So_Luong': 'mean'
}).reset_index().rename(columns={'Tong_Lai':'Tong_Loi_Nhuan', 'So_Luong':'Trung_Binh_Ly'})


display(bao_cao_tong_hop)

--- 2. SỨC MẠNH CỦA HÀM .AGG() ---

  Chi_Nhanh  Tong_Loi_Nhuan  Trung_Binh_Ly
0        Q1            5200      80.000000
1        Q3            4900      76.666667