In [2]:
import pandas as pd

df_profile = pd.DataFrame({
    'ID': ['HV01', 'HV02', 'HV03', 'HV04'],
    'Ten': ['An', 'Bình', 'Cường', 'Dũng'],
    'Lop': ['Python', 'Python', 'C++', 'C++']
})

df_score = pd.DataFrame({
    'ID': ['HV01', 'HV02', 'HV03', 'HV05'],
    'Mon_Thi': ['Code', 'Code', 'Toan', 'Toan'],
    'Diem': [8.5, 9.0, 7.5, 10.0]
})
display(df_profile)
display(df_score)

     ID    Ten     Lop
0  HV01     An  Python
1  HV02   Bình  Python
2  HV03  Cường     C++
3  HV04   Dũng     C++

     ID Mon_Thi  Diem
0  HV01    Code   8.5
1  HV02    Code   9.0
2  HV03    Toan   7.5
3  HV05    Toan  10.0

In [3]:

print("--- 1. INNER JOIN (Mặc định) ---")
df_inner = pd.merge(df_profile, df_score, on='ID', how='inner')
display(df_inner)

--- 1. INNER JOIN (Mặc định) ---

     ID    Ten     Lop Mon_Thi  Diem
0  HV01     An  Python    Code   8.5
1  HV02   Bình  Python    Code   9.0
2  HV03  Cường     C++    Toan   7.5

In [ ]:
print("\n--- 2. LEFT JOIN (Giữ trọn vẹn bảng Profile) ---")
df_left = pd.merge(df_profile, df_score, on='ID', how='left')
display(df_left)

--- 2. LEFT JOIN (Giữ trọn vẹn bảng Profile) ---

     ID    Ten     Lop Mon_Thi  Diem
0  HV01     An  Python    Code   8.5
1  HV02   Bình  Python    Code   9.0
2  HV03  Cường     C++    Toan   7.5
3  HV04   Dũng     C++     NaN   NaN

(4, 3)

Sếp hỏi: "Có điểm số nào lạc trôi trong hệ thống mà không xác định được học viên là ai không?"

In [ ]:
score_check = pd.merge(df_profile,df_score, on='ID', how='right')
display(score_check)

     ID Mon_Thi  Diem    Ten     Lop
0  HV01    Code   8.5     An  Python
1  HV02    Code   9.0   Bình  Python
2  HV03    Toan   7.5  Cường     C++
3  HV05    Toan  10.0    NaN     NaN