In [1]:
import pandas as pd

# Giả sử đây là bảng kết quả kinh doanh cuối ngày đã tính toán xong
data = {
    'Ten_Mon': ['Cafe Den', 'Cafe Sua', 'Bac Xiu', 'Tra Dao', 'Sinh To Bo'],
    'Gia_Ban': [20, 25, 35, 30, 50],
    'So_Luong': [50, 80, 40, 60, 20],
    'Tong_Lai': [500, 1040, 800, 1320, 600] 
}
df = pd.DataFrame(data)

print("--- 1. SẮP XẾP CƠ BẢN ---")
# Mặc định Pandas sắp xếp TĂNG DẦN (Nhỏ -> Lớn)
df_tang_dan = df.sort_values(by='Tong_Lai')
display(df_tang_dan)


print("\n--- 2. SẮP XẾP CHUẨN BUSINESS (TOP DOWN) ---")
# Thêm tham số ascending=False để xếp GIẢM DẦN (Lớn -> Nhỏ)
df_top_lai = df.sort_values(by='Tong_Lai', ascending=False)
display(df_top_lai)


print("\n--- 3. ĐÁNH RANK (XẾP HẠNG) ---")
# Đánh hạng theo Tổng Lãi (Lãi cao nhất = Hạng 1)
# Tham số method='min' xử lý trường hợp đồng hạng (nếu 2 món lãi bằng nhau thì cùng hạng)
df['Hang_Loi_Nhuan'] = df['Tong_Lai'].rank(ascending=False, method='min')

print("Bảng vinh danh các món nước:")
# Sort lại theo hạng cho đẹp mắt
display(df.sort_values('Hang_Loi_Nhuan'))

--- 1. SẮP XẾP CƠ BẢN ---

      Ten_Mon  Gia_Ban  So_Luong  Tong_Lai
0    Cafe Den       20        50       500
4  Sinh To Bo       50        20       600
2     Bac Xiu       35        40       800
1    Cafe Sua       25        80      1040
3     Tra Dao       30        60      1320

--- 2. SẮP XẾP CHUẨN BUSINESS (TOP DOWN) ---

      Ten_Mon  Gia_Ban  So_Luong  Tong_Lai
3     Tra Dao       30        60      1320
1    Cafe Sua       25        80      1040
2     Bac Xiu       35        40       800
4  Sinh To Bo       50        20       600
0    Cafe Den       20        50       500

--- 3. ĐÁNH RANK (XẾP HẠNG) ---
Bảng vinh danh các món nước:

      Ten_Mon  Gia_Ban  So_Luong  Tong_Lai  Hang_Loi_Nhuan
3     Tra Dao       30        60      1320             1.0
1    Cafe Sua       25        80      1040             2.0
2     Bac Xiu       35        40       800             3.0
4  Sinh To Bo       50        20       600             4.0
0    Cafe Den       20        50       500             5.0