In [2]:
import pandas as pd
import io

menu_data = {
    'Ten_Mon': ['Cafe Den', 'Cafe Sua', 'Bac Xiu', 'Tra Dao', 'Sinh To Bo'],
    'Gia_Von': [10, 12, 15, 8, 20],
    'Gia_Ban': [20, 25, 35, 30, 50],
    'So_Luong_Ban': [50, 80, 40, 60, 20]
}

df_coffee = pd.DataFrame(menu_data)

print("---- 1. XEM DU LIEU ----")
display(df_coffee.head(4))      # head(3): Xem 3 dòng đầu tiên

# Xem ngẫu nhiên 2 dòng (Rất hữu ích để check xem data có bị lỗi rải rác không)
display(df_coffee.sample(2))    # sample(2): Xem 2 dòng bất kì

---- 1. XEM DU LIEU ----

    Ten_Mon  Gia_Von  Gia_Ban  So_Luong_Ban
0  Cafe Den       10       20            50
1  Cafe Sua       12       25            80
2   Bac Xiu       15       35            40
3   Tra Dao        8       30            60

    Ten_Mon  Gia_Von  Gia_Ban  So_Luong_Ban
1  Cafe Sua       12       25            80
2   Bac Xiu       15       35            40

In [ ]:
print("\n--- 2. THỐNG KÊ MÔ TẢ (QUAN TRỌNG NHẤT) ---")
# Hàm này tự động tính Mean, Std, Min, Max, 25%, 50%, 75% cho các cột SỐ
display(df_coffee.describe())

In [ ]:
print("\n--- 3. ĐẾM PHÂN LOẠI ---")
# Giả sử ta muốn đếm xem có bao nhiêu món giá bán là 20k, bao nhiêu món 30k?
# (Hàm này thường dùng cho cột Text/Category, ví dụ đếm Nam/Nữ)
print(df_coffee['Gia_Ban'].value_counts())

In [5]:
# Đề bài: Hãy phân tích bảng dữ liệu Cafe bằng .describe() và trả lời:
# Trung bình mỗi món bán được bao nhiêu ly? (Nhìn dòng mean cột So_Luong_Ban).
# Giá bán chênh lệch nhất giữa các món là bao nhiêu? (Lấy max - min của cột Gia_Ban).

print("Trung bình mỗi món:\n", df_coffee["So_Luong_Ban"].mean())

chenh_lech = df_coffee["Gia_Ban"].max() - df_coffee["Gia_Ban"].min()
print("Chênh lệch:", chenh_lech)

Trung bình mỗi món:
 50.0
Chênh lệch: 30